#canvas {
    border: 3px solid rgb(0, 0, 0);
    display: block;
    position: fixed;
}

#resetButton {
    position: fixed;
    bottom: 0;
    right: 45%;
    font-family: Didot;
}

#resetButton {
    --c: rgb(0, 0, 0);
    padding: calc(.05em + .15em) calc(.3em + .15em);
    color: var(--c);
    background:
        conic-gradient(from 90deg at 3px 3px, #00000000 90deg);
    transition: .3s linear, color 0s, background-color 0s;
    background-color: rgba(0, 0, 0, 0.3);
}   

#resetButton {
    font-size: 3rem;
    cursor: pointer;
    border: none;
    margin: .1em;
    border-radius: 10px;
}