#infoDisplay {
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 1%;
    right: 10%;
    font-size: 200%;
}

#wind-value::before {
    content: attr(value)
}

#time-of-day-value::before {
    content: attr(value)
}

    // wind-value
    // time-of-day-value